body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

h1 {
  color: #333;
}

p {
  color: #666;
  font-size: 18px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
}

.header a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 40px;
  gap: 40px;
}

.hero-text {
  max-width: 500px;
}

.hero-text h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
}

.hero-image img {
  width: 100%;
  max-width: 450px;
}

.hero-actions {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.btn-primary {
  background-color: #1e3a8a;
  color: white;
  padding: 12px 22px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.btn-secondary {
  background-color: #e5e7eb;
  color: #1e3a8a;
  padding: 12px 22px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

/* Footer */
.footer {
  background-color: #1e3a8a;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}

/* Responsive mobil*/
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-actions {
    justify-content: center;
  }
}
.auth-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}

.btn-login {
  background-color: #1e3a8a;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.btn-login:hover {
  background-color: #16306b;
}

.create-link {
  font-size: 13px;
  color: #38bdf8;
  text-decoration: none;
}

.create-link:hover {
  text-decoration: underline;
}
